body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 2em;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header h1 {
  margin: 0;
  color: #FF9D56;
  font-size: 3em;
}

.header p {
  margin: 0;
}

.logo {
  height: 80px;
  width: auto;
  text-align: center;
}

.login {
  display: flex;
  width: 50vw;
  flex-direction: column;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.login label {
  margin-bottom: 0.2rem;
}

.login input {
  margin-bottom: 0.2rem;
  font-size: 1em;
  padding: 0.4rem;
  border-radius: 0.5em;
}

button {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  background: #FF9D56;
  border: none;
  padding: 0.5em;
  margin-top: 1em;
  border-radius: 0.5em;
}

button:hover {
  background: #D67026;
}

.info-token {
  background: #aaffb5;
  margin: 0.5em 0;
  padding: 1em;
  font-size: 0.8em;
}

.info-error {
  background: #ffaaaa;
  margin: 0.5em 0;
  padding: 1em;
  font-size: 0.8em;
  display: none;
}

#otp {
  display: none;
}